html, body {
    background: none repeat scroll 0% 0% rgb(238, 240, 242);
    font-family: "lucida grande", tahoma, verdana, arial, sans-serif;
    font-size: 12px;
    margin: 0;
    padding: 0;
}

#wrapper {
    margin: 0 auto;
    padding-top: 200px;
    width: 20%;
}

#app_header {
    text-align: center;
}

/* Bordered form */
form {
    border: 3px solid #f1f1f1;
}

/** Login **/
#login {
    padding-top: 300px
}

#login .form-wrap {
    width: 30%;
    margin: 0 auto;
}

#login h1 {
    color: #212121;
    font-size: 18px;
    text-align: center;
    font-weight: bold;
    padding-bottom: 20px;
}

#login .form-group {
    margin-bottom: 25px;
}

#login .checkbox {
    margin-bottom: 20px;
    position: relative;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    -o-user-select: none;
    user-select: none;
}

#login .checkbox.show:before {
    content: '\e013';
    color: #212121;
    font-size: 17px;
    margin: 1px 0 0 3px;
    position: absolute;
    pointer-events: none;
    font-family: 'Glyphicons Halflings';
}

#login .checkbox .character-checkbox {
    width: 25px;
    height: 25px;
    cursor: pointer;
    border-radius: 3px;
    border: 1px solid #ccc;
    vertical-align: middle;
    display: inline-block;
}

#login .checkbox .label {
    color: #fff;
    font-size: 13px;
    font-weight: normal;
}

#login .btn.btn-custom {
    font-size: 14px;
    margin-bottom: 20px;
}

#login .forget {
    font-size: 13px;
    text-align: center;
    display: block;
}